// Fonts
$font-family-main: 'Open Sans', sans-serif;
$font-family-condensed: 'Open Sans Condensed', sans-serif;

// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$third-color: #000;
$background-color: #f8f9fa;
$footer-background-color: #222;
$title-color: #fff;

// Spacing
$padding-base: 10px;
$margin-base: 20px;

// Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 992px;